{% extends "bootstrap/base.html" %}
{% block title %}iSIM k8s Configurator v1{% endblock %}

{% block styles %}
{{super()}}
<!--<link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}">-->
<style type="text/css">
<!--
.tablecell1 {
    padding:5px;
}
-->
</style>
{% endblock %}



{% block scripts %}
<!-- <script type="text/javascript" src="{{ url_for('static', filename= 'js/modernizr-2.6.2.min.js') }}">	</script> -->

{{super()}}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-down">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
  <div class="page-header">
    <h1>iSIM k8s Configurator <small>v1</small></h1>
  </div>  
</div>
</div>  
</div>

  {% endblock %}  

  {% block content %}

  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">  
<div class="mb-3">
   
    <label for="review" class="form-label">Perform</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
  </div>   
</div></div>                  
{% endblock %} 
