{% extends "bootstrap/base.html" %}
{% block title %}iSIM k8s Configurator v1{% endblock %}

{% block styles %}
{{super()}}
<!--<link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}">-->
<style type="text/css">
<!--
.tablecell1 {
    padding:5px;
}

-->
</style>
{% endblock %}



{% block scripts %}
<!-- <script type="text/javascript" src="{{ url_for('static', filename= 'js/modernizr-2.6.2.min.js') }}">	</script> -->

{% if runcmd %}
<script>
    if(typeof(EventSource) !== "undefined") {
      var source = new EventSource("stream?repourl={{ repourl }}");
      var re = new RegExp(".*exit.*");
      source.onmessage = function(event) {
        document.getElementById("output").innerHTML += event.data + "<br>";        
        if (re.test(event.data)) {
          source.close();
          console.log("stop!!!");
        } else {
            console.log("Go head!");
        }
      };
    } else {
      document.getElementById("output").innerHTML = "Sorry, your browser does not support server-sent events...";
    }
    </script>
{% endif %}
{{super()}}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-down">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
  <div class="page-header">
    <h1>iSIM k8s Configurator <small>v1</small></h1>
  </div>  
</div>
</div>  
</div>

  {% endblock %}  

  {% block content %}
<form method="POST" id="command" name="command">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">  
        <div class="form-group text-right">
            <button type="button" class="btn btn-primary" onclick="window.location.href = '/step-4/perform-installation';">Next</button>
        </div> 
<div class="mb-3">
   
    <label for="review" class="form-label">Installation:</label>
<textarea class="form-control" name="commands" id="exampleFormControlTextarea1" rows="6">{{ commands }}{{ defaultcmd }}</textarea>
  </div>
  <div class="form-group">
            <br /><br />
    <button type="submit" class="btn btn-primary" id="run" onclick="runcmd();">Run</button>

</div>   
Output:
<div id="output" style="height:200px; overflow:scroll; background-color: #e5e5e5; padding:10px;"></div>    
</div></div>   
</form>       
    
{% endblock %} 
