{% extends "bootstrap/base.html" %}
{% block title %}iSIM k8s Configurator v1{% endblock %}

{% block styles %}
{{super()}}
<!--<link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}">-->
<style type="text/css">
<!--
.tablecell1 {
    padding:5px;
}
body {
       width: 100%;
       margin: 0%;    
}
-->
</style>
{% endblock %}



{% block scripts %}
<!-- <script type="text/javascript" src="{{ url_for('static', filename= 'js/modernizr-2.6.2.min.js') }}"></script>	-->
<script type="text/javascript">
  function generatenvrips() {
    prefix=$('#ipblockstart').val().split(".")[0]+"."+$('#ipblockstart').val().split(".")[1]+'.'+$('#ipblockstart').val().split(".")[2]+'.'
    startip=$('#ipblockstart').val().split(".")[3];
    endip=$('#ipblockend').val().split(".")[3];
    iplist=Array();
    for (var i = parseInt(startip); i <= parseInt(endip); i += 1) {
      iplist.push(prefix+i);
    }
    $('#nvr1').html(iplist[iplist.length - 3]);
    $('#nvr2').html(iplist[iplist.length - 2]);
    $('#nvr3').html(iplist[iplist.length - 1]);
    $('#nvrform1').val(iplist[iplist.length - 3]);
    $('#nvrform2').val(iplist[iplist.length - 2]);
    $('#nvrform3').val(iplist[iplist.length - 1]);
}
</script> 

{{super()}}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-down">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
  <div class="page-header">
    <h1>iSIM k8s Configurator <small>v1</small></h1>
  </div>  
</div>
</div>  
</div>

  {% endblock %}  

  {% block content %}

  <div class="container h-100 .container-fluid">
    <div class="row h-100 justify-content-center align-items-center">  
      <form method="POST">
      <input type="hidden" id="nvrform1" name="nvr1" value="{{ nvr1val }}" />
      <input type="hidden" id="nvrform2" name="nvr2" value="{{ nvr2val }}" />
      <input type="hidden" id="nvrform3" name="nvr3" value="{{ nvr3val }}" />

        <div class="form-group text-right">
            <button type="button" class="btn btn-primary" onclick="window.location.href = '/step-3/perform-installation';">Next</button>
        </div>        
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">IP Block</label>
            <br /><br />
            <table width="100%"> 
                <tr>
                    <td class="tablecell1">

                        <div class="mb-3 row">
                            <label for="Start" class="col-sm-2 col-form-label">Start</label>
                            <div class="col-sm-10">
                              <input type="text" name="ipblockstart" value="{{ ipblockstart }}" class="form-control" id="ipblockstart">
                            </div>
                          </div>

                    </td>
                    <td class="tablecell1">

                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">End</label>
                            <div class="col-sm-10">
                              <input type="text" name="ipblockend" value="{{ ipblockend }}" class="form-control" id="ipblockend">
                            </div>
                          </div>

                    </td>
                    <td class="tablecell1"></td>
                </tr>
                <tr>
                    <td class="tablecell1">

                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Netmask</label>
                            <div class="col-sm-10">
                              <input type="text" name="netmask" value="{{ netmask }}" class="form-control" id="Netmask">
                            </div>
                          </div>

                    </td>
                    <td class="tablecell1">

                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Gateway</label>
                            <div class="col-sm-10">
                              <input type="text" name="gateway" value="{{ gateway }}" class="form-control" id="Gateway">
                            </div>
                          </div>

                    </td>
                    <td class="tablecell1"><button type="button" class="btn btn-outline-primary" onclick="generatenvrips();">Generate NVR IPs</button></td>
                </tr>
                <tr>
                    <td class="tablecell1">

                        <div class="mb-3 row">
                            <label for="nvr1" class="col-sm-2 col-form-label">NVR IP 1</label>
                            <div class="col-sm-10" id="nvr1">{{ nvr1val }}                              
                            </div>
                          </div>

                    </td>
                    <td class="tablecell1">

                      <div class="mb-3 row">
                            <label for="nvr1" class="col-sm-2 col-form-label">NVR IP 2</label>
                            <div class="col-sm-10" id="nvr2">{{ nvr2val }}                       
                            </div>
                      </div>

                    </td>
                    <td class="tablecell1"></td>
                </tr>
                <tr>
                    <td class="tablecell1">

                      <div class="mb-3 row">
                            <label for="nvr1" class="col-sm-2 col-form-label">NVR IP 3</label>
                            <div class="col-sm-10" id="nvr3">{{ nvr3val }}                          
                            </div>
                          </div>

                    </td>
                    <td class="tablecell1">



                    </td>
                    <td class="tablecell1"></td>
                </tr>
            </table>
          </div>
          <div class="mb-3">
            <br /><br />
            <div class="row w-100">
  <div class="col-sm-4 w-50">
    <label for="exampleFormControlTextarea1" class="form-label">modules.conf: Review module settings</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="19">{% for data in modulelist %}{{ data.name }}={{ data.val }}
{% endfor %}
            </textarea>  
  </div>
  <div class="col-sm-4 w-50">
    <label for="exampleFormControlTextarea1" class="form-label">metallb-config.yaml: Review YAML Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="19">{{ metallbconf }}
            </textarea>  
            <br />
[*] First ip block generated %20 of ip range<br />
[*] Second ip block generated %80 of ip range<br />
[*] Last 3 NVR IPs excluded in ip range<br />
  </div>
</div> 
 
          </div>
          <div class="form-group">
            <br /><br />
    <button type="submit" class="btn btn-primary">Save</button>
</div>   
      </form>       
</div></div>                  
{% endblock %} 